{% extends "::base.html.twig" %}

{% block title %}Create request{% endblock %}

{% block body %}
    <div class="col-md-5 col-md-offset-1">
        <h1>Add work request</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
